# Kafka Connect storage topics and group.
BOOTSTRAP_SERVERS=kafka:9094
GROUP_ID=1
CONFIG_STORAGE_TOPIC=_connect_configs
OFFSET_STORAGE_TOPIC=_connect_offsets
STATUS_STORAGE_TOPIC=_connect_status

# Converter classes used by Debezium.
KEY_CONVERTER=org.apache.kafka.connect.json.JsonConverter
VALUE_CONVERTER=org.apache.kafka.connect.json.JsonConverter
