# Local Postgres bootstrap settings.
PGDATA=/home/postgres/data/pgdata
POSTGRES_USER=user
POSTGRES_PASSWORD=password
# App databases are created by init SQL on first start:
# - book_db
# - worker_db
# - search_db
